html
    head

    body
        #app
            //- c-button
            c-button
            c-button-space
            button.one Not in component!
        h1 Hey puggiez
        script(src="bundle.js")