html
    head
        script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js")
    body
        #app
        cru-button
        button.one Not in component!
        h1 Hey puggiez
        script(src="main.js")